In [1]:
import sqlite3
import pandas as pd

path="/workspaces/HUBRIS/HUBRIS.db"
con=sqlite3.connect(path)

In [5]:
pd.read_sql("SELECT * FROM characters",con)

,name,str,int,con,dex,wis,cha,xp_earned,xp_spent,player,abilities
0,Archie Radcliffe,-1,5,0,4,-2,3,30,30,El,"02d62c46-a238-4170-9644-6ac3de7662fb,6b484d06-..."